.container{
    margin-top: 70px;
    text-align: center;
}

.custom-button{
    margin : auto;
    width : 140px;
}

.success_message {
    margin: 15px 0 0;
    color: greenyellow;
    font-size: 15px;
}

.answer-message{
    height : 30px;
    padding-left: 30px;
}