.container{
    margin-top: 70px;
}

.custom-form {
    width: 960px;
    padding-top: 3%;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.error_message {
    margin: 15px 0 0;
    color: red;
    font-size: 15px;
}

.success_message {
    margin: 15px 0 0;
    color: greenyellow;
    font-size: 15px;
}

.custom-button{
    margin-right : 10px;
    width : 140px;
}

span {
    font-size: 14px;
    font-weight: bold;
}

.answer-message{
    height : 30px;
    padding-left: 30px;
}

.project-name {
    width : 86%;
    margin-left: 36px;
    margin-top: 20px;
}

.description{
    width : 72%;
    margin-left: 36px;
}

.module-names {
    width: 100%;
    margin-left: 36px;
}

.buttons {
    width: 77%;
    margin-left: 36px;
    margin-bottom : 20px;
}
.delete-button {
    width: 80px;
}

.module-table {
    width: 100%;
}

.module-table .col1 {
    width: 52%;
    margin-bottom: 100px;
    height: 50px;
}

.module-table .col2 {
    width: 10%;
    text-align: center;
}

.module-table .col3 {
    width: 10%;
    text-align: left;
}

.project-table{
    width : 100%;
}

.project-table .col1 {
    width: 15%;
    margin-bottom: 100px;
    height: 50px;
}

.project-table .col2 {
    width: 69%;
    text-align: center;
}

.project-table .col3 {
    width: 16%;
    text-align: center;
}

#check_result {
    border-radius: 10px;
    width: 50%;
    height: 50%;
    margin-left: 30px;
    color: white;
    font-size: 15px;
}


