<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CreateNewProject</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/create_project.css" rel="stylesheet">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script>
        $(function () {
            $('#fieldList').on("click", ".delete-button", function () {
                $(this).closest(".input-group").remove();
                return false;
            });
        });
    </script>
    <script>
        $(function () {
            $("#addMore").click(function () {
                $("#fieldList").append("<div class='input-group'>\n" +
                                       "<input type='text' class='form-control' name='module_names[]'/>\n" +
                                       "<span class='input-group-btn'>\n" +
                                       "<button class='btn btn-default delete-button' type='button'>Delete</button>\n" +
                                       "</span>\n" +
                                       "</div>");
                return false;
            });
        });
    </script>
</head>
<body>
<div class="container">
    <div class="custom-form">
        <div class="form">
            <h2>Creating project and dependent modules</h2>
            <span class="error_message" th:utext="${error_message}"></span>
            <span class="success_message" th:utext="${success_message}"></span>
            <form action="/main/create_new_project" method="post">
                <div class="form-group">
                    <label>Project name</label>
                    <input type="text" class="form-control" name="project_name">
                </div>
                <div class="form-group">
                    <label>Module names</label>
                    <div id="fieldList">
                        <div class="input-group">
                            <input type="text" class="form-control" name="module_names[]"/>
                            <span class="input-group-btn">
                            <button class="btn btn-default delete-button" type="button">Delete</button>
                        </span>
                        </div>
                    </div>
                </div>
                <button id="addMore" class="btn btn-primary btn-sm custom-button">Add more</button>
                <button type="submit" class="btn btn-primary btn-sm custom-button">Submit</button>
                <button class="btn btn-primary btn-sm custom-button"
                        onclick="window.location.replace('/main');return false;">Cancel
                </button>
            </form>
        </div>
    </div>
    <br><br><br><br>
    <hr>
    <footer>
        <p>© VRP Consulting 2018</p>
    </footer>
</div>
</body>
</html>