<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CreateNewProject</title>
</head>
<body>
<h1>CREATE NEW PROJECT AND DEPENDENCY MODULES</h1>
<span th:utext="${error_message}"></span>
<span th:utext="${success_message}"></span>

    <form action="/main/create_new_project", method="post">
        <table>
            <tr>
                <td>Name project</td>
                <td><input type = 'text' name="name_project" size="49"></td>
            </tr>

            <tr>
                <td>Name modules</td>
                <td>
                    <textarea name="name_modules" rows="10" cols="45">
                    </textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" th:value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>